%p
  Welcome to programming.by
  
%p
  Generate your own linkable coder's portfolio simply by adding your github username to the end of the url
  
%p
  All public Github repositories that have a description will appear on the page, repositories with blank descriptions will be omitted
  
%p
  Enjoy!